<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.springboot.dao.PasswordMapper">
  <resultMap id="BaseResultMap" type="com.springboot.dataObject.Password">
    <id column="PID" jdbcType="INTEGER" property="pid" />
    <result column="OneID" jdbcType="INTEGER" property="oneid" />
    <result column="Onepower" jdbcType="INTEGER" property="onepower" />
    <result column="Onepassword" jdbcType="VARCHAR" property="onepassword" />
    <result column="Onetime" jdbcType="TIMESTAMP" property="onetime" />
  </resultMap>
  <sql id="Base_Column_List">
    PID, OneID, Onepower, Onepassword, Onetime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from one_password
    where PID = #{pid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from one_password
    where PID = #{pid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.springboot.dataObject.Password">
    insert into one_password (PID, OneID, Onepower, 
      Onepassword, Onetime)
    values (#{pid,jdbcType=INTEGER}, #{oneid,jdbcType=INTEGER}, #{onepower,jdbcType=INTEGER}, 
      #{onepassword,jdbcType=VARCHAR}, #{onetime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.springboot.dataObject.Password">
    insert into one_password
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="pid != null">
        PID,
      </if>
      <if test="oneid != null">
        OneID,
      </if>
      <if test="onepower != null">
        Onepower,
      </if>
      <if test="onepassword != null">
        Onepassword,
      </if>
      <if test="onetime != null">
        Onetime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="pid != null">
        #{pid,jdbcType=INTEGER},
      </if>
      <if test="oneid != null">
        #{oneid,jdbcType=INTEGER},
      </if>
      <if test="onepower != null">
        #{onepower,jdbcType=INTEGER},
      </if>
      <if test="onepassword != null">
        #{onepassword,jdbcType=VARCHAR},
      </if>
      <if test="onetime != null">
        #{onetime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.springboot.dataObject.Password">
    update one_password
    <set>
      <if test="oneid != null">
        OneID = #{oneid,jdbcType=INTEGER},
      </if>
      <if test="onepower != null">
        Onepower = #{onepower,jdbcType=INTEGER},
      </if>
      <if test="onepassword != null">
        Onepassword = #{onepassword,jdbcType=VARCHAR},
      </if>
      <if test="onetime != null">
        Onetime = #{onetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where PID = #{pid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.springboot.dataObject.Password">
    update one_password
    set OneID = #{oneid,jdbcType=INTEGER},
      Onepower = #{onepower,jdbcType=INTEGER},
      Onepassword = #{onepassword,jdbcType=VARCHAR},
      Onetime = #{onetime,jdbcType=TIMESTAMP}
    where PID = #{pid,jdbcType=INTEGER}
  </update>


  <select id="getpassword"  resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from one_password
    where OneID = #{oneid,jdbcType=INTEGER} and Onepower = #{onepower,jdbcType=INTEGER}
  </select>

  <update id="updatep">
    update one_password
    set Onepassword = #{onepassword,jdbcType=VARCHAR}
    where OneID = #{oneid,jdbcType=INTEGER} and Onepower = #{onepower,jdbcType=INTEGER}
  </update>
</mapper>